<?xml version="1.0"?>
<robot  name="aubo_i7">

  <material name="Black_Acrylic">
    <color rgba="0.070360 0.070360 0.070360 1"/>
  </material>
  <material name="Cameras_Gray">
    <color rgba="0.296138 0.296138 0.296138 1"/>
  </material>
  <material name="IR_Emitter_Lens">
    <color rgba="0.287440 0.665387 0.327778 1"/>
  </material>
  <material name="IR_Lens">
    <color rgba="0.035601 0.035601 0.035601 1"/>
  </material>
  <material name="IR_Rim">
    <color rgba="0.799102 0.806952 0.799103 1"/>
  </material>
  <material name="Metal_Casing">
    <color rgba="1 1 1 1"/>
  </material>
  <material name="RGB_Pupil">
    <color rgba="0.087140 0.002866 0.009346 1"/>
  </material>
  <material name="Silver">
    <color rgba="0.75 0.75 0.75 1"/>
  </material>

  <dh_type type="modified"/>
  <safety_para singularity_consistent="0.02 0.01 10 0.2 0.045 10"/>	
  <link name="base_link">
    <inertial>
      <origin xyz="0.000129 0.001249 0.016678" rpy="0 0 0" />
      <mass value="1.53902" />
      <inertia ixx="0.003278" ixy="-0.000001" ixz="-0.000001" iyy="0.003017" iyz="-0.000048" izz="0.005841" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="aubo_i7/collision/link0.obj" />
      </geometry>
      <material name="gray">
        <color rgba="0.411765 0.411765 0.411765 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="aubo_i7/collision/link0.obj" />
      </geometry>
    </collision>
  </link>

  <link name="shoulder_Link">
    <inertial>
      <origin xyz="-0.00001 0.001807 -0.013854" rpy="0 0 0" />
      <mass value="4.848581" />
      <inertia ixx="0.011842" ixy="0" ixz="0.000004" iyy="0.0118" iyz="-0.000103" izz="0.008103" />
    </inertial>

    <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
            <mesh filename="aubo_i7/collision/link1_0.obj" />
        </geometry>
        <material name="orange">
            <color rgba="0.909804 0.513726 0 1" />
        </material>
    </visual>
    
    <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
            <mesh filename="aubo_i7/collision/link1_1.obj" />
        </geometry>
        <material name="gray">
            <color rgba="0.411765 0.411765 0.411765 1" />
        </material>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="aubo_i7/collision/link1.obj" />
      </geometry>
    </collision>
  </link>

  <joint name="shoulder_joint" type="revolute">
    <origin xyz="0 0 0.122" rpy="0 0 3.1415926535897932384626433832795" />
    <parent link="base_link" />
    <child link="shoulder_Link" />
    <axis xyz="0 0 1" />
    <limit lower="-6.283185307179586476925286766559" upper="6.283185307179586476925286766559" effort="133" start_stop="207" velocity="2.5964" />
    <property inertia="2.0" damping="0" stiffness="0" offset="0" motor_constant="8.72" ratio="121"/>
  </joint>

  <link name="upperArm_Link">
    <inertial>
      <origin xyz="0.184 0 0.006603" rpy="0 0 0" />
      <mass value="10.741921" />
      <inertia ixx="0.02582" ixy="-0.000019" ixz="0" iyy="0.355431" iyz="0" izz="0.347772" />
    </inertial>

    <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
            <mesh filename="aubo_i7/collision/link2_0.obj" />
        </geometry>
        <material name="orange">
            <color rgba="0.909804 0.513726 0 1" />
        </material>
    </visual>
    
    <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
            <mesh filename="aubo_i7/collision/link2_1.obj" />
        </geometry>
        <material name="gray">
            <color rgba="0.411765 0.411765 0.411765 1" />
        </material>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="aubo_i7/collision/link2.obj" />
      </geometry>
    </collision>
  </link>

  <joint name="upperArm_joint" type="revolute">
    <origin xyz="0 0.1215 0" rpy="-1.5707963267948966192313216916398 -1.5707963267948966192313216916398 0" />
    <parent link="shoulder_Link" />
    <child link="upperArm_Link" />
    <axis xyz="0 0 1" />
    <limit lower="-6.283185307179586476925286766559" upper="6.283185307179586476925286766559" effort="133" start_stop="207" velocity="2.5964" />
    <property inertia="2.0" damping="0" stiffness="0" offset="0" motor_constant="8.72" ratio="121"/>
  </joint>

  <link name="foreArm_Link">
    <inertial>
      <origin xyz="0.221799 -0.000027 0.093832" rpy="0 0 0" />
      <mass  value="2.854995" />
      <inertia ixx="0.003584" ixy="0.000008" ixz="0.000017" iyy="0.047624" iyz="0.000004" izz="0.046982" />
    </inertial>

    <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
            <mesh filename="aubo_i7/collision/link3_1.obj" />
        </geometry>
        <material name="orange">
            <color rgba="0.909804 0.513726 0 1" />
        </material>
    </visual>
    
    <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
            <mesh filename="aubo_i7/collision/link3_0.obj" />
        </geometry>
        <material name="gray">
            <color rgba="0.411765 0.411765 0.411765 1" />
        </material>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="aubo_i7/collision/link3.obj" />
      </geometry>
    </collision>
  </link>

  <joint name="foreArm_joint" type="revolute">
    <origin xyz="0.368 0 0" rpy="-3.1415926535897932384626433832795 0 0" />
    <parent link="upperArm_Link" />
    <child link="foreArm_Link" />
    <axis xyz="0 0 1" />
    <limit lower="-6.283185307179586476925286766559" upper="6.283185307179586476925286766559" effort="133" start_stop="207" velocity="2.5964" />
    <property inertia="2.0" damping="0" stiffness="0" offset="0" motor_constant="8.72" ratio="121"/>
  </joint>

  <link name="wrist1_Link">
    <inertial>
      <origin xyz="0.000038 0.011278 -0.001539" rpy="0 0 0" />
      <mass value="1.628022" />
      <inertia ixx="0.001951" ixy="0.000003" ixz="0.000001" iyy="0.001154" iyz="-0.000042" izz="0.001931" />
    </inertial>

    <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
            <mesh filename="aubo_i7/collision/link4_1.obj" />
        </geometry>
        <material name="orange">
            <color rgba="0.909804 0.513726 0 1" />
        </material>
    </visual>
    
    <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
            <mesh filename="aubo_i7/collision/link4_0.obj" />
        </geometry>
        <material name="gray">
            <color rgba="0.411765 0.411765 0.411765 1" />
        </material>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="aubo_i7/collision/link4.obj" />
      </geometry>
    </collision>
  </link>

  <joint name="wrist1_joint" type="revolute">
    <origin xyz="0.316 0 0" rpy="3.1415926535897932384626433832795 0 1.5707963267948966192313216916398" />
    <parent link="foreArm_Link" />
    <child link="wrist1_Link" />
    <axis xyz="0 0 1" />
    <limit lower="-6.283185307179586476925286766559" upper="6.283185307179586476925286766559" effort="13.5" start_stop="34" velocity="3.1105" />
    <property inertia="0.15" damping="0" stiffness="0" offset="0" motor_constant="7.092" ratio="101"/>
  </joint>

  <link name="wrist2_Link">
    <inertial>
      <origin xyz="-0.000038 -0.011278 -0.001539" rpy="0 0 0" />
      <mass value="1.628022" />
      <inertia ixx="0.001951" ixy="0.000003" ixz="-0.000001" iyy="0.001154" iyz="0.000042" izz="0.001931" />
    </inertial>

    <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
            <mesh filename="aubo_i7/collision/link5_1.obj" />
        </geometry>
        <material name="orange">
            <color rgba="0.909804 0.513726 0 1" />
        </material>
    </visual>
    
    <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
            <mesh filename="aubo_i7/collision/link5_0.obj" />
        </geometry>
        <material name="gray">
            <color rgba="0.411765 0.411765 0.411765 1" />
        </material>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="aubo_i7/collision/link5.obj" />
      </geometry>
    </collision>
  </link>

  <joint name="wrist2_joint" type="revolute">
    <origin xyz="0 0.1025 0" rpy="-1.5707963267948966192313216916398 0 0" />
    <parent link="wrist1_Link" />
    <child link="wrist2_Link" />
    <axis xyz="0 0 1" />
    <limit lower="-6.283185307179586476925286766559" upper="6.283185307179586476925286766559" effort="13.5" start_stop="34" velocity="3.1105" />
    <property inertia="0.15" damping="0" stiffness="0" offset="0" motor_constant="7.092" ratio="101"/>
  </joint>

  <link name="wrist3_Link">
    <inertial>
      <origin xyz="0.000022 0.0006 -0.017081" rpy="0 0 0" />
      <mass value="0.1978" />
      <inertia ixx="0.000118" ixy="0" ixz="0" iyy="0.000112" iyz="0.000001" izz="0.000184" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="aubo_i7/collision/link6.obj" />
      </geometry>
      <material name="gray">
        <color rgba="0.411765 0.411765 0.411765 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="aubo_i7/collision/link6.obj" />
      </geometry>
    </collision>
  </link>

  <joint name="wrist3_joint" type="revolute">
    <origin xyz="0 -0.094 0" rpy="1.5707963267948966192313216916398 0 1.7907E-15" />
    <parent link="wrist2_Link" />
    <child link="wrist3_Link" />
    <axis xyz="0 0 1" />
    <limit lower="-6.283185307179586476925286766559" upper="6.283185307179586476925286766559" effort="13.5" start_stop="34" velocity="3.1105" />
    <property inertia="0.15" damping="0" stiffness="0" offset="0" motor_constant="7.092" ratio="101"/>
  </joint>

  <link name="camera_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.072"/>
      <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>

    <visual>
      <geometry>
        <mesh filename="aubo_i7/assets/d435i_0.obj" scale="1 1 1"/>
      </geometry>
      <material name="IR_Lens"/>
    </visual>
    
    <visual>
      <geometry>
        <mesh filename="aubo_i7/assets/d435i_1.obj" scale="1 1 1"/>
      </geometry>
      <material name="IR_Emitter_Lens"/>
    </visual>
    
    <visual>
      <geometry>
        <mesh filename="aubo_i7/assets/d435i_2.obj" scale="1 1 1"/>
      </geometry>
      <material name="IR_Rim"/>
    </visual>
    
    <visual>
      <geometry>
        <mesh filename="aubo_i7/assets/d435i_3.obj" scale="1 1 1"/>
      </geometry>
      <material name="IR_Lens"/>
    </visual>
    
    <visual>
      <geometry>
        <mesh filename="aubo_i7/assets/d435i_4.obj" scale="1 1 1"/>
      </geometry>
      <material name="Cameras_Gray"/>
    </visual>
    
    <visual>
      <geometry>
        <mesh filename="aubo_i7/assets/d435i_5.obj" scale="1 1 1"/>
      </geometry>
      <material name="Black_Acrylic"/>
    </visual>
    
    <visual>
      <geometry>
        <mesh filename="aubo_i7/assets/d435i_6.obj" scale="1 1 1"/>
      </geometry>
      <material name="Black_Acrylic"/>
    </visual>
    
    <visual>
      <geometry>
        <mesh filename="aubo_i7/assets/d435i_7.obj" scale="1 1 1"/>
      </geometry>
      <material name="RGB_Pupil"/>
    </visual>
    
    <visual>
      <geometry>
        <mesh filename="aubo_i7/assets/d435i_8.obj" scale="1 1 1"/>
      </geometry>
      <material name="Metal_Casing"/>
    </visual>

    <collision>
      <geometry>
        <box size="0.09 0.05 0.03"/>
      </geometry>
    </collision>
  </link>

  <joint name="camera_joint" type="fixed">
    <parent link="wrist3_Link" />
    <child link="camera_link" />
    <origin xyz="0.0 0.05 -0.01" rpy="0 0 0" />
  </joint>

  <link name="robotiq_85_base_link">
    <visual>
      <geometry>
        <mesh filename="aubo_i7/gripper/robotiq_85_base_link.stl"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="aubo_i7/gripper/robotiq_85_base_link.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.636951" />
      <origin xyz="0.0 0.0 0.0" />
      <inertia ixx="0.000380" ixy="0.000000" ixz="0.000000"
               iyx="0.000000" iyy="0.001110" iyz="0.000000"
               izx="0.000000" izy="0.000000" izz="0.001171" />
    </inertial>
  </link>

  <joint name="arm_gripper_joint" type="fixed">
    <parent link="wrist3_Link"/>
    <child link="robotiq_85_base_link"/>
    <origin rpy="0.0 -1.5708 1.5708" xyz="0.0 0.0 0.0"/>
  </joint>

  <joint name="robotiq_85_left_knuckle_joint" type="revolute">
    <parent link="robotiq_85_base_link"/>
    <child link="robotiq_85_left_knuckle_link"/>
    <axis xyz="0 0 1"/>
    <origin rpy="3.14 0.0 0.0" xyz="0.05490451627 0.03060114443 0.0"/>
    <limit lower="0.0" upper="0.80285" velocity="3.14" effort="1000"/>
    <dynamics damping="100.0" friction="50.0"/>
  </joint>

  <joint name="robotiq_85_right_knuckle_joint" type="revolute">
    <parent link="robotiq_85_base_link"/>
    <child link="robotiq_85_right_knuckle_link"/>
    <axis xyz="0 0 1"/>
    <origin rpy="0.0 0.0 0.0" xyz="0.05490451627 -0.03060114443 0.0"/>
    <limit lower="-3.14" upper="3.14" velocity="3.14" effort="1000"/>
    <mimic joint="robotiq_85_left_knuckle_joint"/>
    <dynamics damping="100.0" friction="50.0"/>
  </joint>

  <link name="robotiq_85_left_knuckle_link">
    <visual>
      <geometry>
        <mesh filename="aubo_i7/gripper/robotiq_85_knuckle_link.stl"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="aubo_i7/gripper/robotiq_85_knuckle_link.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.018491" />
      <origin xyz="0.0 0.0 0.0" />
      <inertia ixx="0.000009" ixy="-0.000001" ixz="0.000000"
               iyx="-0.000001" iyy="0.000001" iyz="0.000000"
               izx="0.000000" izy="0.000000" izz="0.000010" />
    </inertial>
  </link>

  <link name="robotiq_85_right_knuckle_link">
    <visual>
      <geometry>
        <mesh filename="aubo_i7/gripper/robotiq_85_knuckle_link.stl"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="aubo_i7/gripper/robotiq_85_knuckle_link.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.018491" />
      <origin xyz="0.0 0.0 0.0" />
      <inertia ixx="0.000009" ixy="-0.000001" ixz="0.000000"
               iyx="-0.000001" iyy="0.000001" iyz="0.000000"
               izx="0.000000" izy="0.000000" izz="0.000010" />
    </inertial>
  </link>

  <joint name="robotiq_85_left_finger_joint" type="fixed">
    <parent link="robotiq_85_left_knuckle_link"/>
    <child link="robotiq_85_left_finger_link"/>
    <origin xyz="-0.00408552455 -0.03148604435 0.0" rpy="0 0 0" />
  </joint>

  <joint name="robotiq_85_right_finger_joint" type="fixed">
    <parent link="robotiq_85_right_knuckle_link"/>
    <child link="robotiq_85_right_finger_link"/>
    <origin xyz="-0.00408552455 -0.03148604435 0.0" rpy="0 0 0" />
  </joint>

  <link name="robotiq_85_left_finger_link">
    <visual>
      <geometry>
        <mesh filename="aubo_i7/gripper/robotiq_85_finger_link.stl"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="aubo_i7/gripper/robotiq_85_finger_link.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.027309" />
      <origin xyz="0.0 0.0 0.0" />
      <inertia ixx="0.000003" ixy="-0.000002" ixz="0.000000"
               iyx="-0.000002" iyy="0.000021" iyz="0.000000"
               izx="0.000000" izy="0.000000" izz="0.000020" />
    </inertial>
  </link>

  <link name="robotiq_85_right_finger_link">
    <visual>
      <geometry>
        <mesh filename="aubo_i7/gripper/robotiq_85_finger_link.stl"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="aubo_i7/gripper/robotiq_85_finger_link.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.027309" />
      <origin xyz="0.0 0.0 0.0" />
      <inertia ixx="0.000003" ixy="-0.000002" ixz="0.000000"
               iyx="-0.000002" iyy="0.000021" iyz="0.000000"
               izx="0.000000" izy="0.000000" izz="0.000020" />
    </inertial>
  </link>

  <joint name="robotiq_85_left_inner_knuckle_joint" type="revolute">
    <parent link="robotiq_85_base_link"/>
    <child link="robotiq_85_left_inner_knuckle_link"/>
    <axis xyz="0 0 1"/>
    <origin xyz="0.06142 0.0127 0" rpy="3.14 0.0 0.0" />
    <limit lower="-3.14" upper="3.14" velocity="3.14" effort="0.1"/>
    <mimic joint="robotiq_85_left_knuckle_joint" offset="0"/>
    <dynamics damping="100.0" friction="25.0"/>
  </joint>

  <joint name="robotiq_85_right_inner_knuckle_joint" type="revolute">
    <parent link="robotiq_85_base_link"/>
    <child link="robotiq_85_right_inner_knuckle_link"/>
    <axis xyz="0 0 1"/>
    <origin xyz="0.06142 -0.0127 0" rpy="0 0 0"/>
    <limit lower="-3.14" upper="3.14" velocity="3.14" effort="0.1"/>
    <mimic joint="robotiq_85_left_knuckle_joint" offset="0"/>
    <dynamics damping="100.0" friction="25.0"/>
  </joint>

  <link name="robotiq_85_left_inner_knuckle_link">
    <visual>
      <geometry>
        <mesh filename="aubo_i7/gripper/robotiq_85_inner_knuckle_link.stl"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="aubo_i7/gripper/robotiq_85_inner_knuckle_link.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.029951" />
      <origin xyz="0.0 0.0 0.0" />
      <inertia ixx="0.000039" ixy="0.000000" ixz="0.000000"
               iyx="0.000000" iyy="0.000005" iyz="0.000000"
               izx="0.000000" izy="0.000000" izz="0.000035" />
    </inertial>
  </link>
  
  <link name="robotiq_85_right_inner_knuckle_link">
    <visual>
      <geometry>
        <mesh filename="aubo_i7/gripper/robotiq_85_inner_knuckle_link.stl"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="aubo_i7/gripper/robotiq_85_inner_knuckle_link.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.029951" />
      <origin xyz="0.0 0.0 0.0" />
      <inertia ixx="0.000039" ixy="0.000000" ixz="0.000000"
               iyx="0.000000" iyy="0.000005" iyz="0.000000"
               izx="0.000000" izy="0.000000" izz="0.000035" />
    </inertial>
  </link>

  <joint name="robotiq_85_left_finger_tip_joint" type="revolute">
    <parent link="robotiq_85_left_inner_knuckle_link"/>
    <child link="robotiq_85_left_finger_tip_link"/>
    <axis xyz="0 0 1"/>
    <origin xyz="0.04303959807 -0.03759940821 0.0" rpy="0.0 0.0 0.0"/>
    <limit lower="-3.14" upper="3.14" velocity="3.14" effort="0.1"/>
    <mimic joint="robotiq_85_left_knuckle_joint" multiplier="-1"/>
    <dynamics damping="100.0" friction="25.0"/>
  </joint>

  <joint name="robotiq_85_right_finger_tip_joint" type="revolute">
    <parent link="robotiq_85_right_inner_knuckle_link"/>
    <child link="robotiq_85_right_finger_tip_link"/>
    <axis xyz="0 0 1"/>
    <origin rpy="0.0 0.0 0.0" xyz="0.04303959807 -0.03759940821 0.0"/>
    <limit lower="-3.14" upper="3.14" velocity="3.14" effort="0.1"/>
    <mimic joint="robotiq_85_left_knuckle_joint" multiplier="-1"/>
    <dynamics damping="100.0" friction="25.0"/>
  </joint>

  <link name="robotiq_85_left_finger_tip_link">
    <visual>
      <geometry>
        <mesh filename="aubo_i7/gripper/robotiq_85_finger_tip_link.stl"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="aubo_i7/gripper/robotiq_85_finger_tip_link.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.019555" />
      <origin xyz="0.0 0.0 0.0" />
      <inertia ixx="0.000002" ixy="0.000000" ixz="0.000000"
               iyx="0.000000" iyy="0.000005" iyz="0.000000"
               izx="0.000000" izy="0.000000" izz="0.000006" />
    </inertial>
  </link>

  <link name="robotiq_85_right_finger_tip_link">
    <visual>
      <geometry>
        <mesh filename="aubo_i7/gripper/robotiq_85_finger_tip_link.stl"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="aubo_i7/gripper/robotiq_85_finger_tip_link.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.019555" />
      <origin xyz="0.0 0.0 0.0" />
      <inertia ixx="0.000002" ixy="0.000000" ixz="0.000000"
               iyx="0.000000" iyy="0.000005" iyz="0.000000"
               izx="0.000000" izy="0.000000" izz="0.000006" />
    </inertial>
  </link>
  
  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>
</robot>